* {
    font-family: 'alegreya', sans-serif;
    font-weight: bold;

}

.App {
    text-align: center;
}

nav {
    background-color: #b2eba6d5;
    color: rgba(255, 255, 255, 0.758);
    padding: 10px;
    text-align: center;
    font-size: 30px ;


}

nav ul {
    display: flex;
    justify-content:center;
    padding: 0;
}

nav ul li {
    list-style: none;
    padding-left: 30px;
    padding-right: 30px;

}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: black;
}

h5 {
    font-family: 'alegreya', sans-serif;
    font-size: 1.5em;
    color: #333;
    margin-top: 20px;
    text-align: center;
}